<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Coming Soon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'maintanence/images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'maintanence/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'maintanence/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'maintanence/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'maintanence/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'maintanence/vendor/countdowntime/flipclock.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'maintanence/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'maintanence/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<style>
    body {
        overflow: hidden;
    }
</style>

<body>
    <div class="bg-img1 size1 p-l-15 p-r-15">
        <div class="flex-col-c p-t-10 p-b-215 respon1">
            <h3 class="l1-txt1 txt-center p-t-30 p-b-100">
                Server Under Maintenance
            </h3>
            <div class="cd100"></div>
            <div class="flex-w flex-c-m">
                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'maintanence/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'maintanence/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'maintanence/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'maintanence/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'maintanence/vendor/countdowntime/flipclock.min.js' %}"></script>
    <script src="{% static 'maintanence/vendor/countdowntime/moment.min.js' %}"></script>
    <script src="{% static 'maintanence/vendor/countdowntime/moment-timezone.min.js' %}"></script>
    <script src="{% static 'maintanence/vendor/countdowntime/moment-timezone-with-data.min.js' %}"></script>
    <script src="{% static 'maintanence/vendor/countdowntime/countdowntime.js' %}"></script>
    <script>
        $('.cd100').countdown100({
            /* Set Starttime here */
            /* Starttime must be < current time */
            starttimeYear: {{ sYear }},
            starttimeMonth: {{ sMonth }},
            starttimeDate: {{ sDay }},
            starttimeHours: {{ sHour }},
            starttimeMinutes: {{ sMinute }},
            starttimeSeconds: {{ sSecond }},
            /* Set Endtime here */
            /* Endtime must be > current time */
            endtimeYear: {{ eYear }},
            endtimeMonth: {{ eMonth }},
            endtimeDate: {{ eDay }},
            endtimeHours: {{ eHour }},
            endtimeMinutes: {{ eMinute }},
            endtimeSeconds: {{ eSecond }},
            timeZone: ""
    // ex: timeZone: "America/New_York"
    // go to "http://momentjs.com/timezone/" to get timezone
});



    </script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>
