<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TronPC</title>
    <meta name="description" content="TronPC Store" />
    <script src="{% static 'catalog/view/javascript/jquery/jquery-2.1.1.min.js' %}"></script>
    <link href="{% static 'catalog/view/javascript/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
        media="screen" />
    <script src="{% static 'catalog/view/javascript/bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'catalog/view/javascript/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
        type="text/css" />
    <script src="{% static 'catalog/view/javascript/custom/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/custom/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'catalog/view/javascript/custom/quickview.js' %}"></script>
    <link href="{% static 'catalog/view/theme/custom/stylesheet/custom/custom-font.css' %}" rel="stylesheet" />
    <link href="{% static 'catalog/view/theme/custom/stylesheet/custom/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'catalog/view/theme/custom/stylesheet/custom/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'catalog/view/theme/custom/stylesheet/custom/owl.theme.default.min.css' %}"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="{% static 'catalog/view/javascript/jquery/magnific/magnific-popup.css' %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href="{% static 'catalog/view/theme/custom/stylesheet/stylesheet.css' %}" rel="stylesheet" />
    <link href="{% static 'catalog/view/javascript/jquery/swiper/css/swiper.min.css' %}" type="text/css"
        rel="stylesheet" media="screen" />
    <link href="{% static 'catalog/view/javascript/jquery/swiper/css/opencart.css' %}" type="text/css" rel="stylesheet"
        media="screen" />
    <script src="{% static 'catalog/view/javascript/jquery/swiper/js/swiper.jquery.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/custom/jquery.cookie.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/custom/countdown.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/common.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/custom/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" type="text/css"
        href="{% static 'catalog/view/theme/custom/stylesheet/custom/jquery-ui.min.css' %}" />
    <script src="{% static 'catalog/view/javascript/custom/custom.js' %}"></script>
    <link href="{% static 'images/tronpclogo.png' %}" rel="icon" />

    <link href="{% static 'catalog/view/javascript/jquery/magnific/magnific-popup.css' %}" type="text/css"
        rel="stylesheet" media="screen" />
    <link href="{% static 'catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css' %}"
        type="text/css" rel="stylesheet" media="screen" />
    <script src="{% static 'catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js' %}"></script>
    <script
        src="{% static 'catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>




    <script>
        (function () {
            window.onpageshow = function (event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
        })();
    </script>
</head>

<style>
    :root {
        --primary-color: #111111;
        --primary-hover-color: #ffffff;
        --secondary-color: #16202c;
        --secondary-hover-color: #4d94ff;
        --secondary-light-color: #777777;
        --background-color: #f7f7f7;
        --border-color: #e5e5e5
    }

    body {
        background: white;
    }

    .modal-dialog {
        width: 90%;
        /* Adjust the value as needed */
        max-width: 800px;
        /* Adjust the value as needed */
    }

    /* Add the following CSS rules */

    /* Adjust the width of the search results to match the search input */
    #search-results {
        width: 100%;
        max-width: 400px;
        /* Adjust the maximum width as needed */
    }

    /* Apply the same styles as the search input to the search results */
    #search-results .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        transition: all 0.15s ease;
    }

    #search-results .dropdown-item:hover {
        color: #fff;
        background-color: #007bff;
    }

    @media (max-width: 767px) {
        .modal-dialog {
            margin: 15px;
        }
    }

    .product-img .pro-image img {
        max-height: 300px;
        /* Adjust the value as needed */
        max-width: 100%;
        /* Add this line to make the image width 100% of its container */
    }

    .image-additional img {
        max-height: 60px;
        /* Adjust the value as needed */
    }

    .right_info {
        max-height: 400px;
        /* Adjust the value as needed */
        overflow-y: auto;
    }


    @media (max-width: 767px) {
        .modal-content {
            padding: 15px;
        }

        .modal-dialog {
            margin: 15px;
        }

        .right_info {
            margin-top: 15px;
        }

        .modal-footer {
            justify-content: flex-end;
        }
    }

    .prestyle {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        position: relative;

    }

    .hover-text {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        background-color: lightgray;
        padding: 2px;
        border-radius: 3px;
        visibility: hidden;
    }

    .prestyle:hover .hover-text {
        visibility: visible;
    }


    /* CSS */
    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-content {
        background-color: #fff;
        max-width: 600px;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    @media (max-width: 767px) {
        .popup-content {
            width: 90%;
            padding: 10px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .popup-content {
            width: 70%;
        }
    }

    @media (min-width: 992px) {
        .popup-content {
            width: 50%;
        }
    }


    .popup-content h3 {
        margin-top: 0;
    }

    .popup-content p {
        margin-bottom: 10px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }


    .product-layout .section-sale-ico {
        display: none;
    }

    .product-layout:hover .section-sale-ico {
        display: block;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: #888;
        cursor: pointer;
    }

    .hover-window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        width: 90%;
        max-width: 600px;
        /* Customize the max-width as desired */
        height: auto;
        /* Customize the height as desired */
    }

    .additional-info {
        margin-top: 20px;
        font-size: 16px;
    }

    .additional-info p {
        margin-bottom: 10px;
    }

    @media (max-width: 767px) {
        .col-sm-5 {
            top: 0;
        }

        .product-layout {
            margin-bottom: 20px;
        }

        .img-responsive {
            width: 100%;
            height: auto;
        }

        .hover-window {
            width: 90%;
        }
    }

    .menulist {
        display: inline-block;
        margin-right: 15px;
        /* Adjust the spacing between menu items */
        vertical-align: 2em;

    }

    .menulist a {
        color: white;
        font-size: 16px;
        /* Adjust the font size as desired */
        text-transform: none;
    }

    .product-image {
        width: 100%
    }

    /* spinners */
    .spinner-9 {
        width: 50px;
        aspect-ratio: 1;
        display: grid;
        color: #854f1d;
        background: radial-gradient(farthest-side, currentColor calc(100% - 6px), #0000 calc(100% - 5px) 0);
        mask: radial-gradient(farthest-side, #0000 calc(100% - 13px), #000 calc(100% - 12px));
        border-radius: 50%;
        animation: s9 2s infinite linear;
    }


    .spinner-9::before,
    .spinner-9::after {
        content: "";
        grid-area: 1/1;
        background:
            linear-gradient(currentColor 0 0) center,
            linear-gradient(currentColor 0 0) center;
        background-size: 100% 10px, 10px 100%;
        background-repeat: no-repeat;
    }

    .spinner-9::after {
        transform: rotate(45deg);
    }

    .cart-item-smaller {
        font-size: 0.8em;
        /* Adjust the size as needed */
    }

    .menu a {
        font-size: 19px;
    }

    .menu li {
        position: relative;
        display: inline-block;
        margin-right: 20px;
    }

    .menu li::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-in-out;
    }

    .menu li:hover::after {
        width: calc(100% / 3);
        /* Set the width to 1/3 of the parent's width */
    }

    @keyframes s9 {
        100% {
            transform: rotate(1turn)
        }
    }

    @media screen and (min-width: 766px) {
        .tronlogo {
            display: none;
        }
    }
</style>

<body class="common-home">
    <div class="loader"></div>
    <div class="top-header">
        <nav id="top"></nav>
        <header>
            <div class="container">
                <div class="row">
                    <div class="header-top">
                        <div class="customer-support col-md-4 hidden-xs">

                            {% if pro %}
                            <!-- logo left -->
                            <div id="logo" class="col-md-4">
                                <a href="{% url 'home' %}"><img src="{% static 'images/tronpclogo.png' %}"
                                        title="TronPC" alt="TronPC" class="img-responsive" /></a>
                            </div>
                        </div>
                        <!-- logo middle -->
                        <div id="logo" class="col-md-4">
                            <a href="{% url 'home' %}"><img src="{% static 'images/tronpclogo.png' %}" title="TronPC"
                                    alt="TronPC" class="img-responsive tronlogo" /></a>
                        </div>
                        {% else %}
                        <!-- logo left -->
                        <div id="logo" class="col-md-4">
                            <a href="/"><img src="{% static 'images/tronpclogo.png' %}" title="TronPC" alt="TronPC"
                                    class="img-responsive" /></a>
                        </div>
                    </div>
                    <!-- logo middle -->
                    <div id="logo" class="col-md-4">
                        <a href="/"><img src="{% static 'images/tronpclogo.png' %}" title="TronPC" alt="TronPC"
                                class="img-responsive tronlogo" /></a>
                    </div>
                    {% endif %}

                    <div class="header-links col-md-4">
                        <!-- start account -->

                        {% if pro %}
                        <div id="header_ac" class="dropdown">
                            <a href="{% static 'images/tronpclogo.png' %}" title="My Account" class="dropdown-toggle"
                                data-toggle="dropdown">
                                <i class="icon-user-2"></i>
                                <span class="account-main hidden-sm hidden-xs">
                                    <span>My Account</span>

                                    {% for pr in pro %}
                                    <span>{{pr.username}}</span>
                                    {% endfor %}




                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right account-link-toggle">
                                <li>
                                    <a href="#">My Account</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                                <li>
                                    <a href="#">Cart</a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <div id="header_ac" class="dropdown">
                            <a href="{% static 'images/tronpclogo.png' %}" title="My Account" class="dropdown-toggle"
                                data-toggle="dropdown">
                                <i class="icon-user-2"></i>
                                <span class="account-main hidden-sm hidden-xs">
                                    <span>My Account</span>
                                    {% if 'Guest' in userid %}
                                    <!-- <span style="color: #fff;">{{userid}}</span><br> -->
                                    {% endif %}
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right account-link-toggle">
                                <li>
                                    <a href="{% url 'register' %}">Register</a>
                                </li>
                                <li>
                                    <a href="{% url 'login' %}">Login</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}


                        <!-- start cart -->

                        {% if cart_list_count %}
                        <a href="{% url 'cart' %}">
                            <div class="header_cart">
                                <div id="cart" class="btn-group btn-block">
                                    <button type="button" class="btn btn-inverse btn-block btn-lg">

                                        <span id="cart-total"><span class="hidden-sm hidden-xs">My Cart</span>
                                            <span class="cart-item">
                                                {{cart_list_count}}
                                                <span class="hidden-sm hidden-xs">
                                                    items ₹{{total_price}}</span></span></span>

                                    </button>

                                </div>

                            </div>
                        </a>
                        {% else %}

                        <div class="header_cart">
                            <div id="cart" class="btn-group btn-block">
                                <button type="button" data-toggle="dropdown" data-loading-text="Loading..."
                                    class="btn btn-inverse btn-block btn-lg dropdown-toggle">
                                    <span id="cart-total"><span class="hidden-sm hidden-xs">My Cart</span>
                                        <span class="cart-item">0<span class="hidden-sm hidden-xs">
                                                items ₹0.00</span></span></span>
                                </button>
                                <ul class="dropdown-menu header-cart-toggle pull-right">
                                    <li>
                                        <p class="text-center product-cart-empty">
                                            Your shopping cart is empty!
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="header-left col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <div class="menu-list">
                        <div class="box-categories"><span>All Categories</span></div>
                    </div>
                </div>
                <div class="header-center col-md-6 col-xs-3">
                    <nav id="menu" class="navbar navbar_menu">
                        <div class="navbar-header">
                            <button type="button" class="btn btn-navbar navbar-toggle" id="btnMenuBar">
                                <span class="addcart-icon"></span>
                            </button>
                        </div>
                        <div id="topCategoryList" class="main-menu menu-navbar clearfix" data-more="More">
                            <div class="menu-close hidden-lg hidden-md">
                                <span id="category" class="">Menu</span><i class="icon-close"></i>
                            </div>
                            <ul class="nav navbar-nav" style="margin-top: -20px;">
                                {% if pro %}
                                <ul class="menu">
                                    <li class="menulist home">
                                        <a id="home" href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'productsHome' %}">All Products</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'preBuiltHome' %}">Prebuilts</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'pcb' %}">Custom Built</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'contactHome' %}">Contact</a>
                                    </li>
                                </ul>
                                {% elif 'Guest' in userid %}
                                <ul class="menu">
                                    <li class="menulist home">
                                        <a id="home" href="/">Home</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'allProducts' %}">All Products</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'preBuiltHome' %}">Prebuilts</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'pcb' %}">Custom Built</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'contact' %}">Contact</a>
                                    </li>
                                </ul>
                                {% else %}
                                <ul class="menu">
                                    <li class="menulist home">
                                        <a id="home" href="{% url 'index' %}">Home</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'allProducts' %}">All Products</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'preBuiltHome' %}">Prebuilts</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'pcb' %}">Custom Built</a>
                                    </li>
                                    <li class="menulist">
                                        <a href="{% url 'contact' %}">Contact</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="header-right col-md-3 col-xs-9">
                    <!-- start search -->
                    <div class="btn_search">
                        <div class="header-search">
                            <div id="customSearch" class="input-group custom-search">
                                <input type="text" id="search-inputz" name="search" value=""
                                    placeholder="Search here..." class="form-control input-lg ui-autocomplete-input"
                                    autocomplete="off" />
                                <span class="btn-search input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg">
                                        <i class="search-icon icon-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div id="search-results" class="dropdown-menu" style="display: none;">
                                <!-- Results will be dynamically inserted here -->
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var searchInput = $('#search-inputz');
                                    var searchResults = $('#search-results');

                                    searchInput.on('input', function () {
                                        var searchText = $(this).val().trim();

                                        if (searchText.length > 0) {
                                            $.ajax({
                                                url: "{% url 'search' %}",
                                                method: 'GET',
                                                data: { 'search_text': searchText },
                                                success: function (response) {
                                                    searchResults.html('');

                                                    if (response.length > 0) {
                                                        $.each(response, function (index, result) {
                                                            var url = "/categoryFilter/" + result.category_id;
                                                            var item = $('<a>')
                                                                .addClass('dropdown-item')
                                                                .attr('href', url)
                                                                .append($('<h5>').text(result.category_name));

                                                            searchResults.append(item);
                                                        });

                                                        searchResults.show(); // Show the dropdown
                                                    } else {
                                                        searchResults.html('<h5>No results found.</h5>');
                                                    }
                                                },
                                                error: function (xhr) {
                                                    console.log(xhr.responseText);
                                                }
                                            });
                                        } else {
                                            searchResults.html('');
                                            searchResults.hide(); // Hide the dropdown
                                        }
                                    });

                                    // Hide the dropdown when clicked outside
                                    $(document).on('click', function (event) {
                                        if (!$(event.target).closest('#customSearch').length) {
                                            searchResults.hide();
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </header>
    </div>
    <script>
        $(document).ready(function () {
            var headerfixed = 0;
            if (headerfixed == 1) {
                $(window).scroll(function () {
                    if ($(window).width() > 991) {
                        if ($(this).scrollTop() > 150) {
                            $(".header-bottom").addClass("header-fixed");
                        } else {
                            $(".header-bottom").removeClass("header-fixed");
                        }
                    } else {
                        $(".header-bottom").removeClass("header-fixed");
                    }
                });
            } else {
                $(".header-bottom").removeClass("header-fixed");
            }
        });
    </script>
    <div class="container">
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <div class="main-category left-column-main-category hidden-sm hidden-xs" style="display: none;">
                    <div class="vertical-category-wrapper navbar-collapse navbar-ex2-collapse">
                        <div class="vertical-category" data-more="More&nbsp;Categories"
                            data-less="Less&nbsp;Categories">
                            <ul class="category-list nav navbar-nav">
                                {% for cat in category %}
                                <li class="menu-item">
                                    <a href="{% url 'categoryFilter' cat.id %}">
                                        <span class="category-img hidden-sm hidden-xs"><img
                                                src="{{cat.category_image.url}}" alt="img"
                                                style="width: 30px; height: 30px;" /></span>
                                        {{cat.category_name}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box all-products special left-vertical-product">
                    <div class="box-heading">
                        <div class="box-content">
                            <div class="page-title toggled">
                                <h3>Special Products</h3>
                            </div>
                            <div class="block_box">
                                <div id="special-carousel" class="box-product vertical-carousel clearfix"
                                    data-items="1">
                                    {% if specials %}

                                    {% for special in specials %}

                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{{special.product_image.url}}" alt="iPhone" title="iPhone"
                                                        class="img-responsive" />
                                                    <img class="img-responsive hover-img"
                                                        src="{{special.product_image.url}}" title="iPhone"
                                                        alt="iPhone" />
                                                </a>
                                                <div class="sale-text">
                                                    <span class="section-sale">On Sale!</span>
                                                </div>
                                            </div>
                                            <div class="thumb-description clearfix">
                                                <div class="caption">
                                                    <h4 class="product-title">
                                                        <a
                                                            href="{% url 'view' special.id %}">{{special.product_name}}</a>
                                                    </h4>
                                                    <p class="price">
                                                        <span class="price-new">{{special.price}}</span>
                                                        <!-- <span class="price-old">{{special.price}}</span> -->
                                                    </p>
                                                    <div class="rating">
                                                        <span class="fa fa-stack"></span>
                                                    </div>

                                                    <div class="btn-all"
                                                        style="display: flex; justify-content: center; align-items: center;">
                                                        <a href="{% url 'add_to_cart_form' special.id %}"
                                                            style="display: inline-block; padding: 4px 8px; background-color: transparent; color: #4d94ff; text-decoration: none; border-radius: 4px; transition: background-color 0.3s ease; font-size: 14px;"
                                                            onmouseover="this.style.backgroundColor='#4d94ff'; this.style.color='white';"
                                                            onmouseout="this.style.backgroundColor='transparent'; this.style.color='black';">
                                                            ADD TO CART
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <center>
                                        <h5>No Special Products</h5>
                                    </center>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            {% block body %}
            <div id="content" class="col-sm-9">
                <div class="cat_info">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 style="text-align: center;">PreBuilts</h1>
                        </div>
                    </div>
                </div>
                <div class="row category-row">
                    <!-- Button trigger modal -->
                    {% for pre in pre_built %}
                    <div class="col-md-4 mt-4 col-sm-6 view-details-button" data-toggle="modal"
                        data-target="#exampleModalCenter{{pre.id}}">
                        <div class="prestyle">
                            <div class="hover-text">Click to view more</div>
                            <div class="product-card">
                                <div class="product-image">
                                    <img src="{{pre.product_image.url}}" alt="Product Image"
                                        style="width: 250px; height: 300px; object-fit: cover; padding: 10px 5px 10px 10px;">
                                </div>

                                <div class="product-detail" id="productDetail{{pre.id}}"
                                    style="margin-left: 10px; height: 200px; overflow: hidden;">
                                    <h2><strong style="padding-right: 2px;">{{pre.modal_name}}</strong></h2>
                                    <h5 style="padding-top: 2px;">{{pre.modal_ram}}&nbsp;RAM&nbsp; |
                                        {{pre.modal_ssd}}&nbsp;SSD</h5>
                                    <h5 style="padding-top: 5px;">Price</h5>
                                    <h3 style="color: green;">₹{{pre.price}}</h3>
                                    <h4 style="padding-top: 7px;">Description</h4>
                                    <div style="max-height: 80px; overflow-y: scroll;">
                                        <h5 style="color: lightslategrey; margin-bottom: 0;">{{pre.description}}</h5>
                                    </div>
                                    {% if pre.description|length > 50 %}
                                    <a href="#" class="show-more-link" style="display: none;">Show More</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        window.addEventListener('DOMContentLoaded', function () {
                            var description = document.getElementById('productDetail{{pre.id}}').querySelector('h5');
                            var productDetail = document.getElementById('productDetail{{pre.id}}');
                            var showMoreLink = productDetail.querySelector('.show-more-link');

                            if (description.offsetHeight < description.scrollHeight) {
                                showMoreLink.style.display = 'block';
                            }

                            showMoreLink.addEventListener('click', function (event) {
                                event.preventDefault();
                                productDetail.style.height = 'auto';
                                showMoreLink.style.display = 'none';
                            });
                        });
                    </script>
                    {% endfor %}




                    <!-- Modal -->

                    {% for pre in pre_built %}
                    <div class="modal" id="exampleModalCenter{{pre.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br>
                                    <div class="pro-deatil row">
                                        <div class="col-sm-5 product-img">
                                            <div class="thumbnails">
                                                <div class="pro-image">
                                                    <img src="{{pre.product_image.url}}" title="pro-image"
                                                        alt="pro-image" style="width: 300px; height: 400px;">
                                                </div>
                                                <div class="product-additional">
                                                    <div id="additional-carousel"
                                                        class="owl-carousel owl-theme clearfix">
                                                        {% if pre.product_image_1 == "" %}
                                                        {% else %}
                                                        <div class="image-additional">
                                                            <a href="{{pre.product_image_1.url}}" title="pro-image"
                                                                class="elevatezoom-gallery"
                                                                data-image="{{pre.product_image_1.url}}"
                                                                data-zoom-image="{{pre.product_image_1.url}}">
                                                                <img src="{{pre.product_image_1.url}}" title="pro-image"
                                                                    alt="pro-image" width="80" height="80" />
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                        {% if pre.product_image_2 == "" %}
                                                        {% else %}
                                                        <div class="image-additional">
                                                            <a href="{{pre.product_image_2.url}}" title="pro-image"
                                                                class="elevatezoom-gallery"
                                                                data-image="{{pre.product_image_2.url}}"
                                                                data-zoom-image="{{pre.product_image_2.url}}">
                                                                <img src="{{pre.product_image_2.url}}" title="pro-image"
                                                                    alt="pro-image" width="80" height="80" />
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                        {% if pre.product_image_3 == "" %}
                                                        {% else %}
                                                        <div class="image-additional">
                                                            <a href="{{pre.product_image_3.url}}" title="pro-image"
                                                                class="elevatezoom-gallery"
                                                                data-image="{{pre.product_image_3.url}}"
                                                                data-zoom-image="{{pre.product_image_3.url}}">
                                                                <img src="{{pre.product_image_3.url}}" title="pro-image"
                                                                    alt="pro-image" width="80" height="80" />
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                        {% if pre.product_image_4 == "" %}
                                                        {% else %}
                                                        <div class="image-additional">
                                                            <a href="{{pre.product_image_4.url}}" title="pro-image"
                                                                class="elevatezoom-gallery"
                                                                data-image="{{pre.product_image_4.url}}"
                                                                data-zoom-image="{{pre.product_image_4.url}}">
                                                                <img src="{{pre.product_image_4.url}}" title="pro-image"
                                                                    alt="pro-image" width="80" height="80" />
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                        {% if pre.product_image_5 == "" %}
                                                        {% else %}
                                                        <div class="image-additional">
                                                            <a href="{{pre.product_image_5.url}}" title="pro-image"
                                                                class="elevatezoom-gallery"
                                                                data-image="{{pre.product_image_5.url}}"
                                                                data-zoom-image="{{pre.product_image_5.url}}">
                                                                <img src="{{pre.product_image_5.url}}" title="pro-image"
                                                                    alt="pro-image" width="80" height="80" />
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                        <div class="image-additional">
                                                            <a href="{{pre.product_image.url}}" title="pro-image"
                                                                class="elevatezoom-gallery"
                                                                data-image="{{pre.product_image.url}}"
                                                                data-zoom-image="{{pre.product_image.url}}">
                                                                <img src="{{pre.product_image.url}}" title="pro-image"
                                                                    alt="pro-image" width="80" height="80" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 right_info">
                                            <h1 id="product-name" class="" style="font-weight: bold;">
                                                {{pre.modal_name}}</h1>

                                            <hr>
                                            <ul class="list-unstyled">
                                                <li><span class="disc">Processor:</span>{{pre.modal_cpu}}</li>
                                                <li><span class="disc">MotherBoard:</span>{{pre.modal_motherbrd}}</li>
                                                <li><span class="disc">Graphics:</span>{{pre.modal_gpu}}</li>
                                                <li><span class="disc">RAM:</span>{{pre.modal_ram}}</li>
                                                <li><span class="disc">Storage:</span>{{pre.modal_storage_rom}}</li>
                                                <li><span class="disc">SSD:</span>{{pre.modal_ssd}}</li>
                                                <li><span class="disc">SMPS:</span>{{pre.modal_smps}}</li>
                                                <li><span class="disc">Availability:</span><span class="disc1"
                                                        style="color: green;">In Stock</span></li>
                                            </ul>
                                            <hr>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <span class="pro_price" style="color: #000;">₹ {{pre.price}}</span>
                                                </li>
                                            </ul>
                                            <hr>
                                            <span style="color: #000;font-weight: bold;">Description</span>
                                            <div class="col-sm-12">
                                                <div class="row propage-tab">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab-description">
                                                            <p style="color: black;">
                                                                {{pre.description}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-end">
                                    <a href="{% url 'add_to_cart_form_pre' pre.id %}"><button type="button"
                                            class="btn btn-primary btn-lg btn-block">Add to Cart</button></a>
                                    <button style="border-radius: 5px;" type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </div>
                <br><br>
                {% endblock %}
                <br>

            </div>
            <script>
                $(document).ready(function () {
                    if ($(window).width() > 991) {
                        $("#zoom").elevateZoom({
                            zoomType: "inner",
                            cursor: "crosshair",
                            gallery: 'additional-carousel',
                            galleryActiveClass: 'active'
                        });

                        var image_index = 0;
                        $(document).on('click', '.thumbnail', function () {
                            $('.thumbnails').magnificPopup('open', image_index);
                            return false;
                        });

                        $('#additional-carousel a').click(function () {
                            var smallImage = $(this).attr('data-image');
                            var largeImage = $(this).attr('data-zoom-image');
                            var ez = $('#zoom').data('elevateZoom');
                            $('.thumbnail').attr('href', largeImage);
                            ez.swaptheimage(smallImage, largeImage);
                            image_index = $(this).index('#additional-carousel a');
                            return false;
                        });
                    } else {
                        $(document).on('click', '.thumbnail', function () {
                            $('.thumbnails').magnificPopup('open', 0);
                            return false;
                        });
                    }
                });

                $(document).ready(function () {
                    $('.thumbnails').magnificPopup({
                        type: 'image',
                        delegate: 'a.elevatezoom-gallery',
                        gallery: {
                            enabled: true
                        }
                    });
                });

                // Additional carousel
                const direction = $('html').attr('dir');

                $('#additional-carousel').each(function () {
                    if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
                        $(this).addClass('owl-carousel owl-theme');
                        const items = $(this).data('items') || 4;
                        const sliderOptions = {
                            loop: false,
                            nav: true,
                            navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
                            dots: false,
                            items: items,
                            mouseDrag: false,
                            touchDrag: false,
                            pullDrag: false,
                            rewind: false,
                            autoplay: true,
                            responsiveRefreshRate: 200,
                            responsive: {
                                0: { items: 1 },
                                320: { items: ((items - 2) > 1) ? (items - 2) : 1 },
                                376: { items: ((items - 1) > 1) ? (items - 1) : 1 },
                                1341: { items: items }
                            }
                        };
                        if (direction == 'rtl') sliderOptions['rtl'] = true;
                        $(this).owlCarousel(sliderOptions);
                    }
                });

                // Related carousel
                const dirrelated = $('html').attr('dir');
                $('.related-carousel').each(function () {
                    if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
                        $(this).addClass('owl-carousel owl-theme');
                        const items = $(this).data('items') || 4;
                        const sliderOptions = {
                            loop: false,
                            nav: true,
                            navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
                            dots: false,
                            items: items,
                            responsiveRefreshRate: 200,
                            responsive: {
                                0: { items: 1 },
                                320: { items: ((items - 2) > 1) ? (items - 2) : 1 },
                                480: { items: ((items - 1) > 1) ? (items - 1) : 1 },
                                768: { items: items }
                            }
                        };
                        if (dirrelated == 'rtl') sliderOptions['rtl'] = true;
                        $(this).owlCarousel(sliderOptions);
                    }
                });
            </script>
            <footer id="page-footer"
                style="background-color: black; color: white; position: fixed; left: 0; bottom: 0; width: 100%; padding: 10px; text-align: left; display: none;">
                <div>
                    <p style="color: white;">
                        All rights reserved &copy; 2023
                    </p>
                </div>
            </footer>

            <a href="#" class="scrollToTop back-to-top" data-toggle="tooltip" title="Top">
                <i class="fa fa-caret-up"></i>
            </a>
            <script>
                $(window).scroll(function () {
                    var scrollDistance = $(window).scrollTop();
                    var documentHeight = $(document).height();
                    var windowHeight = $(window).height();

                    // Show or hide the footer based on scroll position
                    if (scrollDistance >= documentHeight - windowHeight) {
                        $('#page-footer').fadeIn();
                    } else {
                        $('#page-footer').fadeOut();
                    }
                });

            </script>
</body>

</html>