{% extends "UserTemplates/dash.html" %} {% block body %}{% load static %}
<div id="product-search" class="container">
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Product</a>
    </li>
  </ul>
  {% block list %}

  {% endblock list %}
  <div class="box all-products special left-vertical-product">
    <div class="box-heading">
      <div class="box-content">
        <div class="page-title toggled">
          <h3>Special Products</h3>
        </div>
        <div class="block_box">
          <div id="special-carousel" class="box-product vertical-carousel clearfix" data-items="1">
            {% if specials %}

            {% for special in specials %}

            <div class="product-layout col-xs-12">
              <div class="product-thumb transition clearfix">
                <div class="image">
                  <a href="#">
                    <img src="{{special.product_image.url}}" alt="iPhone" title="iPhone" class="img-responsive" />
                    <img class="img-responsive hover-img" src="{{special.product_image.url}}" title="iPhone"
                      alt="iPhone" />
                  </a>
                  <div class="sale-text">
                    <span class="section-sale">On Sale!</span>
                  </div>
                </div>
                <div class="thumb-description clearfix">
                  <div class="caption">
                    <h4 class="product-title">
                      <a href="{% url 'view' special.id %}">{{special.product_name}}</a>
                    </h4>
                    <p class="price">
                      <span class="price-new">₹{{special.price}}</span>
                      <!-- <span class="price-old">{{special.price}}</span> -->
                    </p>
                    <div class="rating">
                      <span class="fa fa-stack"></span>
                    </div>

                    <a href="{% url 'add_to_cart_form' special.id %}" style="color: blue;">
                      <u>ADD TO CART</u>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <center>
              <h5>No Special Products</h5>
            </center>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </aside>
  <div id="content" class="col-sm-9">


{% for pro in product %}
    <h2 class="page_title">{{pro.product_name}}</h2>
    <div class="pro-deatil row">
      <div class="col-sm-6 product-img">
        <div class="thumbnails">
          <div class="pro-image">
            <a href="{{pro.product_image.url}}"
              title="Microwaves" class="thumbnail">
              <img src="{{pro.product_image.url}}"
                title="Microwaves" alt="Microwaves"/>
            </a>
          </div>

          <div class="product-additional">
            <div id="additional-carousel" class="owl-carousel owl-theme clearfix">
              <div class="image-additional">
                <a href="{{pro.product_image.url}}"
                  title="Microwaves" class="elevatezoom-gallery"
                  data-image="{{pro.product_image.url}}"
                  data-zoom-image="{{pro.product_image.url}}">
                  <img src="{{pro.product_image.url}}"
                    title="Microwaves" alt="Microwaves" width="80" height="80" />
                </a>
              </div>
              <div class="image-additional">
                <a href="{{pro.product_image.url}}"
                  title="Microwaves" class="elevatezoom-gallery"
                  data-image="{{pro.product_image.url}}"
                  data-zoom-image="{{pro.product_image.url}}">
                  <img src="{{pro.product_image.url}}"
                    title="Microwaves" alt="Microwaves" width="80" height="80" />
                </a>
              </div>
              <div class="image-additional">
                <a href="{{pro.product_image.url}}"
                  title="Microwaves" class="elevatezoom-gallery"
                  data-image="{{pro.product_image.url}}"
                  data-zoom-image="{{pro.product_image.url}}">
                  <img src="{{pro.product_image.url}}"
                    title="Microwaves" alt="Microwaves" width="80" height="80" />
                </a>
              </div>
              <div class="image-additional">
                <a href="{{pro.product_image.url}}"
                  title="Microwaves" class="elevatezoom-gallery"
                  data-image="{{pro.product_image.url}}"
                  data-zoom-image="{{pro.product_image.url}}">
                  <img src="{{pro.product_image.url}}"
                    title="Microwaves" alt="Microwaves" width="80" height="80" />
                </a>
              </div>
              <div class="image-additional">
                <a href="{{pro.product_image.url}}"
                  title="Microwaves" class="elevatezoom-gallery"
                  data-image="{{pro.product_image.url}}"
                  data-zoom-image="{{pro.product_image.url}}">
                  <img src="{{pro.product_image.url}}"
                    title="Microwaves" alt="Microwaves" width="80" height="80" />
                </a>
              </div>
              <div class="image-additional">
                <a href="{{pro.product_image.url}}"
                  title="Microwaves" class="elevatezoom-gallery"
                  data-image="{{pro.product_image.url}}"
                  data-zoom-image="{{pro.product_image.url}}">
                  <img src="{{pro.product_image.url}}"
                    title="Microwaves" alt="Microwaves" width="80" height="80" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 right_info">
        <h1 class="">{{pro.product_name}}</h1>
        <hr>
        <ul class="list-unstyled">
          <li><span class="disc">Brand:</span>{{pro.brand}}
          </li>
          <li><span class="disc">Product Code:</span><span class="disc1">{{pro.product_code}}</span></li>
          <li><span class="disc">Reward Points:</span><span class="disc1">300</span></li>
          <li><span class="disc">Availability:</span><span class="disc1">In Stock</span></li>
        </ul>
        <hr>
        <ul class="list-unstyled">
          <li>
            <span class="pro_price">₹{{pro.price}}</span>
          </li>
          <!-- <li class="tax">Ex Tax: {{pro.price}}</li>
          <li>Price in reward points: 400</li> -->
        </ul>
        <hr>
        <div id="product" class="product-options">
          <div class="form-group">
            <div class="product-btn-quantity">
              <div class="btn-groups pro-btns">
                <a href="{% url 'add_to_cart_form' pro.id %}"><button type="button"
                  class="btn btn-primary btn-lg btn-block">Add to Cart</button></a>
              </div>
            </div>
            <input type="hidden" name="product_id" value="47" />
          </div>

        </div>
        <div class="col-sm-12">
          <div class="row propage-tab">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-description">
                <p>
                  {{pro.description}}
                </p>
              </div>

            </div>
          </div>
        </div>
        <hr>
        <script type="text/javascript"
          src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
        <!-- AddThis Button END -->
      </div>
    </div>


    {% endfor %}
  </div>
</div>
</div>
<script>
  $('.date').datetimepicker({
    language: 'en-gb',
    pickTime: false
  });

  $('.datetime').datetimepicker({
    language: 'en-gb',
    pickDate: true,
    pickTime: true
  });

  $('.time').datetimepicker({
    language: 'en-gb',
    pickDate: false
  });

  $('button[id^=\'button-upload\']').on('click', function () {
    var node = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    if (typeof timer != 'undefined') {
      clearInterval(timer);
    }

    timer = setInterval(function () {
      if ($('#form-upload input[name=\'file\']').val() != '') {
        clearInterval(timer);

        $.ajax({
          url: '#',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function () {
            $(node).button('loading');
          },
          complete: function () {
            $(node).button('reset');
          },
          success: function (json) {
            $('.text-danger').remove();

            if (json['error']) {
              $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
            }

            if (json['success']) {
              alert(json['success']);

              $(node).parent().find('input').val(json['code']);
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });
//--></script>
<script>
  $('#review').delegate('.pagination a', 'click', function (e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
  });

  $('#review').load('index.php?route=product/product/review&product_id=47');

  $('#button-review').on('click', function () {
    $.ajax({
      url: '#',
      type: 'post',
      dataType: 'json',
      data: $("#form-review").serialize(),
      beforeSend: function () {
        $('#button-review').button('loading');
      },
      complete: function () {
        $('#button-review').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible').remove();

        if (json['error']) {
          $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }

        if (json['success']) {
          $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

          $('input[name=\'name\']').val('');
          $('textarea[name=\'text\']').val('');
          $('input[name=\'rating\']:checked').prop('checked', false);
        }
      }
    });
  });
//--></script>

<!-- M-Custom script -->
<script>
// Additional images
const direction = $('html').attr('dir');

  $('#additional-carousel').each(function () {
    if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
      $(this).addClass('owl-carousel owl-theme');
      const items = $(this).data('items') || 4;
      const sliderOptions = {
        loop: false,
        nav: true,
        navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
        dots: false,
        items: items,
        mouseDrag: false,
        touchDrag: false,
        pullDrag: false,
        rewind: false,
        autoplay: true,
        responsiveRefreshRate: 200,
        responsive: {
          0: { items: 1 },
          320: { items: ((items - 2) > 1) ? (items - 2) : 1 },
          376: { items: ((items - 1) > 1) ? (items - 1) : 1 },
          1341: { items: items }
        }
      };
      if (direction == 'rtl') sliderOptions['rtl'] = true;
      $(this).owlCarousel(sliderOptions);
    }
  });

  // related images
  const dirrelated = $('html').attr('dir');
  $('.related-carousel').each(function () {
    if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
      $(this).addClass('owl-carousel owl-theme');
      const items = $(this).data('items') || 5;
      const sliderOptions = {
        loop: false,
        rewind: false,
        autoplay: false,
        autoplayTimeout: 3000,
        nav: true,
        mouseDrag: true,
        touchDrag: true,
        navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
        dots: false,
        items: items,
        responsiveRefreshRate: 200,
        responsive: {
          0: { items: 1 },
          320: { items: ((items - 3) > 1) ? (items - 3) : 1 },
          541: { items: ((items - 2) > 1) ? (items - 2) : 1 },
          1200: { items: ((items - 1) > 1) ? (items - 1) : 1 },
          1341: { items: items }
        }
      };
      if (dirrelated == 'rtl') sliderOptions['rtl'] = true;
      $(this).owlCarousel(sliderOptions);
    }
  });

  $(document).ready(function () {
    if ($(window).width() > 991) {
      $("#zoom").elevateZoom({
        zoomType: "inner",
        cursor: "crosshair",
        gallery: 'additional-carousel',
        galleryActiveClass: 'active'
      });

      var image_index = 0;
      $(document).on('click', '.thumbnail', function () {
        $('.thumbnails').magnificPopup('open', image_index);
        return false;
      });

      $('#additional-carousel a').click(function () {
        var smallImage = $(this).attr('data-image');
        var largeImage = $(this).attr('data-zoom-image');
        var ez = $('#zoom').data('elevateZoom');
        $('.thumbnail').attr('href', largeImage);
        ez.swaptheimage(smallImage, largeImage);
        image_index = $(this).index('#additional-carousel a');
        return false;
      });
    } else {
      $(document).on('click', '.thumbnail', function () {
        $('.thumbnails').magnificPopup('open', 0);
        return false;
      });
    }
  });

  $(document).ready(function () {
    $('.thumbnails').magnificPopup({
      type: 'image',
      delegate: 'a.elevatezoom-gallery', // Mahardhi Edit
      gallery: {
        enabled: true
      }
    });
  });

//--></script>
{% endblock body %}