{% include 'AdminTemplates/adminDash.html' %} {% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Add Category</h4>
                <h6>Create new product Category</h6>
            </div>
        </div>
        {% if added %}
        <h6 style="color: blue; font-size: 16px;">'{{added}}' <span style="color: green;">Category is added</span></h6>
        {% endif %}
        <div class="card">
            <form action="{% url 'addCategoryForm' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                {% if name_exists %} 
                                <label style="color: blue;">'{{name_exists}}' <span style="color: red;">Category already
                                        exists!</span></label>
                                {% else %}
                                <label>Category Name</label>
                                {% endif %}
                                {% if newOptions %}
                                <select class="form-control js-example-tags" name="cat_name" id="cat_name" required>
                                    <option value="" selected disabled>Choose or create new</option>
                                    {% for cat in newOptions %}
                                    <option value="{{ cat }}">{{ cat }}</option>
                                    {% endfor %}
                                </select>
                                    {% else %}
                                    <input type="text" name="cat_name" required>
                                {% endif %}
                                    

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="cat_desc" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label> Product Image</label>
                                <div class="image-upload">
                                    <input type="file" name="cat_img" required>
                                    <div class="image-uploads">
                                        <img src="{% static 'assets/img/icons/upload.svg' %}" alt="img">
                                        <h4>Drag and drop a file to upload</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Add Category</button>
                            <a href="#" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
<script>
    $(".js-example-tags").select2({
        tags: true
    });
</script>
{% endblock body %}