{% include 'AdminTemplates/adminDash.html' %} {% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Category list</h4>
                <h6>View/Search product Category</h6>
            </div>
            <div class="page-btn">
                <a href="{% url 'addCategory' %}" class="btn btn-added">
                    <img src="{% static 'assets/img/icons/plus.svg' %}" class="me-1" alt="img">Add Category
                </a>
            </div>
        </div>
        {% if cat_deleted %}
        <h3 style="color: blue; font-size: 16px;">'{{cat_deleted}}' <span style="color: black;">Category is </span><span style="color: red;">Deleted</span></h3>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}"
                                    alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>Category name</th>
                                <th>Category Code</th>
                                <th>Description</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in categoryList %}


                            <tr>
                                <td class="productimgname">
                                    <a href="#" class="product-img">
                                        <img src="{{i.category_image.url}}" alt="product">
                                    </a>
                                    <span>{{i.category_name}}</span>
                                </td>
                                <td>{{i.category_code}}</td>
                                <td>{{i.description}}</td>
                                <td>Admin</td>
                                <td>
                                    <a class="me-3" href="{% url 'editCategory' i.id %}">
                                        <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                    </a>
                                    <a class="me-3" href="{% url 'deleteCategory' i.id %}">
                                        <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
                                    </a>
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock body %}